/* Add screen styles below */
body {
    background: #44AF69;
}
h1 {
    background: #fcab10;
    font-size: xx-large;
    color: #ffffff;
}

p1 {
    color: #ffffff;
    font-size: x-large;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    max-width: 500px;
    margin: 0 auto;
}

.column {
    flex: 1;
}

img {
    width: 200px;
}

h2 {
    color: #fcab10;
    font-size: larger;
}

p2 {
    color: #ffffff;
    font-size: large;
}
