/* Add screen styles below */
body {
    color: rgba(68, 175, 105, 1);
}
h1 {
    background-color: rgba(252, 171, 16, .5);
    font-size: xx-large;
    color: #ffffff;
    margin-top: auto;
}

p1 {
    color: rbga(68, 175, 105, 1);
    font-size: x-large;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    max-width: 500px;
    margin: 0 auto;
}

.column {
    flex: 1;
}

img {
    width: 200px;
    margin-top: 40px;
}

h2 {
    color: #fcab10;
    font-size: larger;
    margin-top: 40px;
}

p2 {
    color: rgba(68, 175, 105, 1);
    font-size: large;

}
