/* Add screen styles below */
body {
    background: #FFFFFF;
    margin-top: 100px;
}
h1 {
    background: #fcab10;
    font-size: larger;
    color: #ffffff;
}

p1 {
    color: #44AF69
}

h2 {
    color: #fcab10;
    font-size: large;
}
