/* Add screen styles below */
body {
    background: #FFFFFF;
}
h1 {
    background: #fcab10;
    font-size: xx-large;
    color: #ffffff;
}

p1 {
    color: #44AF69;
    font-size: x-large;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.column {
    flex: 1;
}

h2 {
    color: #fcab10;
    font-size: larger;
}

p2 {
    color: #44AF69;
    font-size: large;
}
